<br><br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img
          src="https://5.imimg.com/data5/AK/RA/MY-68428614/apple-500x500.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
            <h5 id="item1">Apple</h5>
          <p id="price1"> Price :10</p>
          <p> count: <input type="number" id="count1" value="1"></p>
           <input type="submit" name="" class="btn btn-info" value="Add" id="addApple">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="http://cdn.shopify.com/s/files/1/2154/4937/products/banana_600x.jpg?v=1610541466"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 id="item3">Banana</h5>
                  <p id="price3"> Price :3</p>
                  <p> count: <input type="number" id="count3" value="1"></p>
                   <input type="submit" name="" class="btn btn-info" value="Add" id="addbanana">
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/3/33/Fresh_made_bread_05.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 id="item4">Bread</h5>
                  <p id="price4"> Price :5</p>
                  <p> count: <input type="number" id="count4" value="1"></p>
                   <input type="submit" name="" class="btn btn-info" value="Add" id="addbread">
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="https://m.media-amazon.com/images/I/41v8vHL+5IL.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 id="item5">Nutell</h5>
                  <p id="price5"> Price :4</p>
                  <p> count: <input type="number" id="count5" value="1"></p>
                   <input type="submit" name="" class="btn btn-info" value="Add" id="addn">
          
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img
            src="https://ichef.bbci.co.uk/childrens-responsive-ichef-live/r/720/1x/cbbc/bp-potato-or-potaNO-quiz.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 id="item7">Potatos</h5>
                  <p id="price7"> Price :12</p>
                  <p> count: <input type="number" id="count7" value="1"></p>
                   <input type="submit" name="" class="btn btn-info" value="Add" id="addpotatos">
                  
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="https://cdn.shopify.com/s/files/1/2725/9456/products/flavourtown-bakery-london-cakes_galaxy-cake_2048x2048.jpg?v=1583339986"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 id="item8">Cake</h5>
                  <p id="price8"> Price :10</p>
                  <p> count: <input type="number" id="count8" value="1"></p>
                   <input type="submit" name="" class="btn btn-info" value="Add" id="addc">
                  
            
          </div>
        </div>
      </div>
      
